<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
       <title>Testbed Experience</title>
       <link rel="stylesheet" media="screen" href ="/static/bootstrap.min.css">
       <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
  
  <h2>Tell us about your experience with testbeds:</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    {{ form.csrf_token }}
    <div class="form-group">
      <table>
      <tr><td>{{ form.numdeteryears.label }}</td><td>{{ form.numdeteryears(rows='1',cols='2') }} years and {{ form.numdetermonths(rows='1',cols='2') }} months</td></tr>
      <tr><td>{{ form.numdeterexps.label }}</td><td>{{ form.numdeterexps(rows='1',cols='4')|safe }}</td></tr>
      <tr><td>{{ form.deterExperience.label }}</td><td>{{ form.deterExperience }}</td></tr>
      <tr><td>{{ form.numyears.label }}</td><td>{{ form.numyears(rows='1',cols='2') }} years and {{ form.nummonths(rows='1',cols='2') }} months</td></tr>
      <tr><td>{{ form.numexps.label }}</td><td>{{ form.numexps(rows='1',cols='4') }}</td></tr>
      <tr><td>{{ form.testbedExperience.label }}</td><td>{{ form.testbedExperience }}</td></tr>
      </table>
    </div>
    <button type="submit" class="btn btn-success">Save and Continue</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>
</body>
</html>
