.behavior-list{
    margin:.1em;
    list-style: none;
    padding: 0;
}

.behavior-box{
    margin: .5em;
    border: 1px solid #ccc;
    padding: .5em;
}



.word-bubble{
    border: 1px dotted black;
    border-radius: 1em;
    padding: 0.4em;
    margin: 0.1em;
    cursor: pointer;
 
}

.binding-word-bubble{
    border: 1px solid black;
    float: left;
    margin: 2px;
    border-radius: 8px;
    padding: 3px;
}
.word-bubble-button{
    border-radius: 1em;
    padding: 0.4em;
    margin: 0.1em;
 
}
.float-left{
    float:left;
}

.actions{
    float:right;
    cursor: pointer;
    display: none;
}

.behavior-list:hover .actions{
    display: block;
}

.disabled{
    pointer-events: none;   
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .padding-left-right{
      padding-left: 5px;
      padding-right: 5px;
  }

 
  .button-padding{
      margin-left: .1em;
  }

  .expand{
      float: right;
      cursor: pointer;
  }

  .hide{
      display: none;
  }