
<div class="d-flex flex-column justify-content-center SignInOrContent hide">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Signing In...</span>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="margin-top: 20px;">
    <div>
      Signing In
    </div>
  </div>
</div>

<div class="SignInOrContent">
  <div class="row" *ngIf="alive">
    <div class="col-md-12">
      <p>Authenticating User...</p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <a class="navbar-brand" href="#">
          <img src="./assets/isi-logo.jpg" style="border:none;height: 80px;" alt="logo" class="img-thumbnail" />
        </a>
      </div>
      <div class="col-md-7 center-aligned">
        <h1 class="title">DISTRIBUTED EXPERIMENT WORKFLOWS</h1>
      </div>
      <div class="col-md-3 center-aligned">
        <!-- Login Options -->
        <div class="login-options" *ngIf="!showSphereLoginForm">
          <button mat-stroked-button (click)="login()" class="login-btn google-btn">
            Login using Google!
          </button>
          <button mat-stroked-button (click)="showSphereForm()" class="login-btn sphere-btn">
            Login using SPHERE
          </button>
        </div>
        
        <!-- SPHERE Login Form -->
        <div class="sphere-form" *ngIf="showSphereLoginForm">
          <h4>SPHERE Login</h4>
          <form [formGroup]="sphereLoginForm" (ngSubmit)="submitSphereLogin()">
            <div class="form-group">
              <input type="text" 
                     formControlName="username" 
                     placeholder="SPHERE Username"
                     class="form-control sphere-input">
              <div class="error" *ngIf="sphereLoginForm.get('username')?.invalid && sphereLoginForm.get('username')?.touched">
                Username is required
              </div>
            </div>
            
            <div class="form-group">
              <input type="password" 
                     formControlName="password" 
                     placeholder="SPHERE Password"
                     class="form-control sphere-input">
              <div class="error" *ngIf="sphereLoginForm.get('password')?.invalid && sphereLoginForm.get('password')?.touched">
                Password is required
              </div>
            </div>
            
            <div class="button-group">
              <button type="submit" 
                      [disabled]="sphereLoginForm.invalid || isLoading"
                      class="btn btn-primary sphere-submit">
                {{ isLoading ? 'Logging in...' : 'Login to DEW' }}
              </button>
              
              <button type="button" 
                      (click)="hideSphereForm()" 
                      class="btn btn-secondary sphere-cancel">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class=" col-md-10">
        <p>Welcome to DEW - distributed experiment workflow portal. DEW complements current testbeds by helping users design experiments from top down. Currently, DEW focuses on supporting experiment design and running, but in the near future we hope to add support for monitoring, ananlysis, and storage, too. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 center-aligned">
        <img src="./assets/dew-description.jpg" height="400px" alt="description-infographic" class="description-image" />
      </div>
      <div class="col-md-7">
        <p>
          DEW views an experiment as a collection of <b>scenario</b>(who does what and when), <b>bindings</b>(how is each action performed) and <b>constraints</b>(topology/hardware specifics guiding experiment materialization).Our portal enables you to design an experiment using these abstractions and visualize it. You can then export it as a topology file (NS file) and a runnable script (Bash script) and deploy it on a testbed. This is illustrated in the figure on the left.
        </p>
        <p>DEW is currently closely coupled with the <a href="https://www.isi.deterlab.net/">Deterlab testbed</a>, but we are looking forward to support more testbeds in the near future.</p>
        <p>Please click on the buttons at the top right to login using your Google or SPHERE credentials. Feel free to <a href="/docs">view the documentation</a> and/or <a href="/docs/contact_us">contact us</a> with your suggestions and feedback.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center-aligned">
        <p>This work is supported by the National Science Foundation (award #1835608)</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-1 center-aligned">
      <a class="navbar-brand" href="#"><img src="./assets/isi-logo.jpg" style="border:none;height: 90px;" alt="logo" class="img-thumbnail" /></a>
    </div>
    <div class="col-md-9 center-aligned">
      <h1 class="title">Distributed experiment workflows</h1>
    </div>
    <div class="col-md-2 center-aligned">
      <button mat-stroked-button (click)="login()">
        Login using Google!
      </button>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
</div>
-->
<!--   <div class="container">
    <div class="col-md-12">
      <mat-card>
       
        <div class="row" style="text-align: center;">
          <div class="col-md-12"> <div class="navbar-header">
            
            <a class="navbar-brand" href="#">
              <h3 style="font-family: serif; font-style: italic; margin-left: 3px; color: #900">Distributed Experiment Workflows</h3>
            </a>
           
            </div></div>
        </div>

        <div class="row" style="text-align: center;">
          <div class="col-md-12">
          <p>Welcome to DEW - distributed experiment workflow portal. 
            Our goal is to simplify design of testbed experiments. This work is based on research sponsored by the National Science Foundation (award #1835608). <br/>To access our documentation, <a href="/docs">click here</a>. <br/>Please enter using your Google account.
          </p>
        </div>
        </div>
        <div
          class="row"
          style="text-align: center;"
          *ngIf="isAlternateLoginEnable()"
        >
          <div class="col-md-12">
            <button mat-stroked-button (click)="login()">
              Login using Google!
            </button>
          </div>
        </div>
        <div
          class="row"
          *ngIf="!isAlternateLoginEnable()"
          style="text-align: center;"
        >
          <mat-form-field class="col-md-12">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              [(ngModel)]="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <button mat-icon-button matSuffix>
              <mat-icon
                *ngIf="password.length != 0"
                class="fas fa-angle-right pointer green"
                (click)="enablePassword()"
              ></mat-icon>
            </button>
          </mat-form-field>
          <div class="col-md-12">
            <button mat-icon-button matSuffix>
              <mat-icon
                class="fas fa-angle-left pointer"
                (click)="disablePassword()"
              ></mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div> -->
  <!-- </div> -->

  <div style="bottom: 0;left:26%;position:absolute;"></div>
